.logo {
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 28px);
  text-decoration: none;
  &__web {
    color: $accent-color;
  }

  &__studio {
    color: $studio-color;
  }
}
.footer__logo__studio {
  color: $header-color;
}
