$accent-color: #2196f3;
$background-color: #e5e5e5;
$background-button: #f5f4fa;
$footer-bgcolor: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$header-color: #ffffff;
$main-text-color: #212121;
$second-text-color: #757575;
$studio-color: #000000;
$border-color-portfolio: rgba(238, 238, 238, 1);
$border-color-header: rgba(236, 236, 236, 1);
$background-hero-color: #c4c4c4;
$icons-color: #afb1b8;
$background-color-social-futter: rgba(255, 255, 255, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$imput-color: rgba(33, 33, 33, 0.2);

// =======TIMING======

$main-transformation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
// $grey: #8C8C8C;
// $dark: #1D1D1D;
// $light: #FFFFFF;
// $peach: #FF868E;
// $light-peach: #FBE0DC;
// $green: #97EAB9;
// $light-green: rgba(151, 234, 185, 0.3);
// $violet: #B4B7FF;
// $yellow: #FFD280;
// $light-yellow: rgba(255, 210, 128, 0.3);
// $bcgd: #E5E5E5;
// $greybcg: #F8F8F7;

// /* TIMING */
// $timing-function: linear;
// $time: 0.25s;

// /* MIXINS */

// @mixin transition {
//     transition: all $timing-function $time;
// }
