body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  list-style: none;
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
